@{
    ViewData["Title"] = "Любими продукти";
    Layout = "Layouts/_LayoutMiddle";
}

@model List<XeonComputers.ViewModels.Favorites.AllFavoriteViewModel>

<div class="mobile-fondsize-20 h2">@ViewData["Title"]</div>
<div class="container mobile-fondsize-11">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-2 d-flex justify-content-center">Продукт</th>
                <th scope="col" class="col-4 d-flex justify-content-center"></th>
                <th scope="col" class="col-1 d-flex justify-content-center">Цена</th>
                <th scope="col" class="col-5 d-flex justify-content-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="row">
                    <td class="col-2 d-flex justify-content-center">
                        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                            <img src="@product.ProductImageUrl" width="50" height="50">
                        </a>
                    </td>
                    <td class="col-4 d-flex justify-content-center">
                        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                            @product.ProductName
                        </a>
                    </td>
                    <td class="col-1 d-flex justify-content-center">
                        @product.ProductPrice
                    </td>
                    <td class="col-md-5 d-flex justify-content-around">
                        <div class="mr-2">
                            <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.ProductId" class="btn btn-primary btn-sm mobile-fondsize-11"><i class="fas fa-shopping-cart"></i> Добави</a>
                        </div>
                        <div class="mr-2">
                            <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.ProductId" asp-route-direct="true" class="btn btn-danger btn-sm"><i class="far fa-credit-card"></i> Купи</a>
                        </div>
                        <div>
                            <a asp-controller="Favorites" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-outline-danger btn-sm"><i class="fas fa-times-circle"></i> Премахни</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() == 0)
    {
        <p>Все още нямате добавени продукти в Любими.</p>
    }
</div>