@model XeonComputers.ViewModels.Products.DetailsProductViewModel

@{
    ViewData["Title"] = "Детайли за продукта";
    Layout = "_LayoutClean";
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.2&appId=573350956442278&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<p class="h3">@Model.Name</p>
<p class="text-muted h6">Номер на продукта: @Model.Id</p>
<div class="row">
    <div class="col-md-4">
        <div class="zoom">
            <img src="@Model.ImageUrls.FirstOrDefault()" alt="@Model.Name">
        </div>
        <div class="fb-like mb-3" data-href="https://www.diffchecker.com" data-layout="button_count" data-action="recommend" data-size="large" data-show-faces="true" data-share="true"></div>
        @if (this.User.IsInRole("Admin"))
        {
            <div class="pb-2">
                <a asp-area="Administrator" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-danger btn-lg btn-block">
                    <i class="fas fa-cog"></i> Промени продукта
                </a>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div>
            <div class="mb-3">
                <p class="text-muted mb-0">Рейтинг:</p>
                <p class="mb-0"><img src="~/images/Rating/stars-5.png" width="100"></p>
                <a class="h6 font-italic text-info" asp-action="">4 ревюта от клиенти</a>
                <span>|</span>
                <a class="h6 font-italic text-info" asp-action="">3 коментара</a>
            </div>

            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
                <dt>@Html.DisplayNameFor(model => model.Specification)</dt>
                <dd>@Html.DisplayFor(model => model.Specification)</dd>
                <dt>@Html.DisplayNameFor(model => model.ChildCategoryName)</dt>
                <dd>@Html.DisplayFor(model => model.ChildCategoryName)</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        @if (this.User.IsInRole("Partner"))
        {
            <p class="font-weight-bold text-danger h2">Цена: @Model.ParnersPrice лв.</p>
        }
        else if (this.User.IsInRole("Admin"))
        {
            <p class="font-weight-bold text-danger h5 ">Цена за клиенти: @Model.Price лв.</p>
            <p class="font-weight-bold text-danger h5">Цена за партньори: @Model.ParnersPrice лв.</p>
        }
        else if (this.User.Identity.IsAuthenticated)
        {
            <p class="font-weight-bold text-danger h5 ">Цена: @Model.Price лв.</p>
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="text-white pb-0 pt-0"><i class="fas fa-sign-in-alt"></i> Вход</a>
        }
        <div class="mt-4">
            <div class="mb-2">
                <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-danger btn-lg btn-block"><i class="far fa-credit-card"></i> Купи</a>
            </div>
            <div class="mb-2">
                <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" class="btn xeon-color text-white btn-lg btn-block"><i class="fas fa-shopping-cart"></i>  Добави в количката</a>
            </div>
            <div class="mt-5 mb-2">
                <a asp-controller="Favorites" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-outline-danger btn-lg btn-block"><i class="fas fa-heart text-left"></i> Добави в Лубими</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div>
            <div class="fb-comments" data-href="https://localhost:5001/Products/Details/@Model.Id" data-numposts="5" data-width="100%"></div>
        </div>
    </div>
</div>