@using XeonComputers.Areas.Administrator.ViewModels.ChildCategory

@model AllChildParentCategoryViewModel

@{
    ViewData["Title"] = "Под категории";
}
<div class="container mobile-fondsize-11 shadow">
        <div class="mobile-fondsize-20 h3 text-muted">@ViewData["Title"]</div>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-1 d-flex justify-content-center">#</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Име</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Описание</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Kaтегория</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Продукти</th>
                    <th scope="col" class="col-3 d-flex justify-content-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.ChildCategoryViewModel)
                {
                    <tr class="row">
                        <td class="col-1 d-flex justify-content-center">
                            @category.Id
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @category.Name
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @category.Description
                        </td>
                        <td class="col-3 d-flex justify-content-center">
                            @category.ParentCategoryName
                        </td>
                        <td class="col-1 d-flex justify-content-center">
                            @category.ProductsCount
                        </td>
                        <td class="col-md-3 d-flex justify-content-around">
                            <div class="mr-2">
                                <a asp-controller="ChildCategories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-primary">Промени</a>
                            </div>
                            <div class="mr-2">
                                <a asp-controller="ChildCategories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-outline-danger">Изтрий</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>   
 </div>