@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@model IPagedList<XeonComputers.Models.Product>

@{
    ViewData["Title"] = "Всички продукти";
}

<div class="container mobile-fondsize-11">
    <div class="mobile-fondsize-20 h3 text-muted text-center pb-2">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr class="row d-flex justify-content-around">
                <th scope="col" class="col-1 d-flex justify-content-center"></th>
                <th scope="col" class="col-3 d-flex justify-content-center">Име</th>
                <th scope="col" class="col-1 d-flex justify-content-center">Цена</th>
                <th scope="col" class="col-2 d-flex justify-content-center">Категории</th>
                <th scope="col" class="col-2 d-flex justify-content-center"></th>
                <th scope="col" class="col-3 d-flex justify-content-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="row d-flex justify-content-around">
                    <td class="col-1 d-flex justify-content-center">
                        <img src="@product.Images.FirstOrDefault()?.ImageUrl" width="50" height="50">
                    </td>
                    <td class="col-3 d-flex justify-content-center">
                        @if (product.Hide)
                        {
                            @product.Name
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                @product.Name
                            </a>
                        }
                    </td>
                    <td class="col-1 d-flex justify-content-center">
                        @(product.Price)лв.
                        @(product.ParnersPrice)лв.
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @product.ChildCategory.ParentCategory.Name
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @product.ChildCategory.Name
                    </td>
                    <td class="col-md-3 d-flex justify-content-around">
                        @if (product.Hide)
                        {
                            <div>
                                <a asp-action="Show" asp-route-id="@product.Id" class="btn btn-outline-info btn-sm">Направи видим</a>
                            </div>
                        }
                        else
                        {
                            <div class="mr-2">
                                <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary btn-sm mobile-fondsize-11">Промени</a>
                            </div>
                            <div class="mr-2">
                                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Детайли</a>
                            </div>
                            <div>
                                <a asp-action="Hide" asp-route-id="@product.Id" class="btn btn-outline-danger btn-sm">Скрий</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mt-3 d-flex justify-content-around">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("All",
                                                new {
                                                    PageNumber = page
                                                }),
                                                new PagedListRenderOptions
                                                {
                                                    MaximumPageNumbersToDisplay = 5,
                                                    LiElementClasses = new string[] { "page-item" },
                                                    PageClasses = new string[] { "page-link" }
                                                })
    </div>
</div>