@model IEnumerable<XeonComputers.Models.Product>

@{
    ViewData["Title"] = "Всички продукти";
}

<h2>@ViewData["Title"]</h2>


<p><a asp-action="Create" class="btn btn-success">Създай нов</a></p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ProductType)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Specification)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.ParnersPrice)</th>
            <th>@Html.DisplayNameFor(model => model.ChildCategory)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductType)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Specification)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.ParnersPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.ChildCategory.Id)</td>
                <td d-flex justify-content-around>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Промени</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>