@model ConfirmOrderViewModel

@{
    ViewData["Title"] = "Завършване на поръчката";
    Layout = "Layouts/_LayoutMiddle";
}

<div class="progress pt-1">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <div><span class="font-weight-bold">Име:</span> @Model.Recipient</div>
            <hr />
            <div><span class="font-weight-bold">Телефонен номер:</span> @Model.RecipientPhoneNumber</div>
            <hr />
            <div><span class="font-weight-bold">Град:</span> @Model.DeliveryAddressCityName, @Model.DeliveryAddressCityPostCode</div>
            <hr />
            <div><span class="font-weight-bold">Адрес:</span> @Model.DeliveryAddressStreet @Model.DeliveryAddressDescription</div>
            <hr />
            <div><span class="font-weight-bold">Метод на плащане:</span> @Model.PaymentTypeDisplayName</div>
        </div>
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync(typeof(OrderProductsComponent), new { OrderId = Model.Id })
        <p class="text-danger h6 text-right">Цена за доставка: @Model.DeliveryPrice лв.</p>
        <p class="text-danger h6 text-right">(Цената за доставка ще бъде платена директно на доставчика!)</p>
        <div class="text-center mt-4">
            @await Component.InvokeAsync(typeof(PaymentOrderComponent), new { OrderId = Model.Id })
        </div>
    </div>
</div>