@model ConfirmOrderViewModel

@{
    ViewData["Title"] = "Потвърди поръчката";
    Layout = "Layouts/_LayoutMiddle";
}

<div class="h3 text-center mb-3">@ViewData["Title"]</div>
<div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="66">66%</div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <div><span class="font-weight-bold">Име:</span> @Model.Recipient</div>
            <hr />
            <div><span class="font-weight-bold">Телефонен номер:</span> @Model.RecipientPhoneNumber</div>
            <hr />
            <div><span class="font-weight-bold">Град:</span> @Model.DeliveryAddressCityName, @Model.DeliveryAddressCityPostCode</div>
            <hr />
            <div><span class="font-weight-bold">Адрес:</span> @Model.DeliveryAddressStreet @Model.DeliveryAddressDescription</div>
            <hr />
            <div><span class="font-weight-bold">Метод на плащане:</span> @Model.PaymentType</div>
        </div>
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync(typeof(FullShoppingCartComponent))
            <div class="text-center mt-4">
                <a asp-area="" asp-controller="Orders" asp-action="Complete" class="btn btn-danger btn-lg"><i class="fas fa-check"></i> Потвърди поръчката</a>
            </div>
    </div>
</div>