@*<div class="form-group">
        <label asp-for="ProductType" class="control-label"></label>
        <select asp-for="ProductType" class="form-control"></select>
        <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>*@

@*<li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link"><i class="fas fa-user-circle"></i> Здравей, @UserManager.GetUserName(User)!</a>
    </li>*@

@*<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link"><i class="fas fa-user-circle"></i> Здравей, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link eventures-color-black"><i class="fas fa-sign-out-alt"></i> Изход</button>
            </li>
        </ul>
    </form>*@

@*<div class="nav-bar">
        <div class="container container-holder">
            <ul id="horizontal">
                <li class="" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/users/profile/show/">Профил</a>
                </li>
                <li class="active" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/notifications/index">Известия</a>
                </li>
                <li class="" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/users/surveys">Анкети</a>
                </li>
                <li class="" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/home/schedule">График зали</a>
                </li>
                <li class="" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/users/profile/certificates?username=miroslav.b.stoyanov" title="Сертификати">Сертификати</a>
                </li>
                <li class="" style="">
                    <a href="https://softuni.org/payments/pay/?appId=softuni.bg" class="nav-bar-item">
                        Заплащане
                    </a>
                </li>


                <li class="" style="">
                    <a class="nav-bar-item" href="https://softuni.bg/users/profile/settings">Настройки</a>
                </li>
                <li style="">
                    <a href="javascript:document.getElementById(&#39;logoutForm&#39;).submit()" class="nav-bar-item">Изход</a>
                </li>
                <li href="#" class="hide-show" style="display: none;"><a href="https://softuni.bg/notifications#" class="nav-bar-item">Още<i class="fa fa-caret-down"></i></a><ul></ul></li>
            </ul>
        </div>
    </div>*@

@*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <ul>
            <li class="@ManageNavPages.IndexNavClass(ViewContext) dropdown-item">
                <a asp-page="./Index" class="nav-link">Профил</a>
            </li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) dropdown-item">
                <a id="change-password" asp-page="./ChangePassword" class="nav-link">Смяна на парола</a>
            </li>
            @if (hasExternalLogins)
            {
                <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) dropdown-item">
                    <a id="external-login" asp-page="./ExternalLogins" class="nav-link">Външен вход</a>
                </li>
            }
            <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) dropdown-item">
                <a asp-page="./TwoFactorAuthentication" class="nav-link">Двуфакторна идентификация</a>
            </li>
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) dropdown-item">
                <a asp-page="./PersonalData" class="nav-link">Лични данни</a>
            </li>
        </ul>
    </div>*@

@*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <ul>
            <li class="@ManageNavPages.IndexNavClass(ViewContext) dropdown-item">
                <a asp-page="./Index" class="nav-link">Профил</a>
            </li>
        </ul>

        <a class="@ManageNavPages.IndexNavClass(ViewContext) dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>*@


@*<img alt="Brand" src="~/images/small_xeon_logo.jpg">*@
@*<a class="navbar-brand" href="#">XeonComputers</a>*@

@*<footer>
        <div class="container">
            <div class="row xeon-color">
                <div class="col-md-3">
                    <h2>Application uses</h2>
                    <ul>
                        <li>Sample pages using ASP.NET Core MVC</li>
                        <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>How to</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>Overview</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>Run &amp; Deploy</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">&copy; CopyRight XeonComputers 2018. All rights reserved.</div>
        </div>
    </footer>*@


@*<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Търсене</button>
    </form>*@

@*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>*@

@*<nav class="navbar navbar-expand-lg navbar-light xeon-color">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item nav-link"><a asp-page="./Index">Profile</a></li>
                <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item nav-link"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
                @if (hasExternalLogins)
                {
                    <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item nav-link"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
                }
                <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-item nav-link"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
                <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item nav-link"><a asp-page="./PersonalData">Personal data</a></li>
            </ul>
        </div>
    </nav>*@
