@{
    ViewData["Title"] = "Home Page";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

<div class="row">
    @foreach (var product in Model.ProductsViewModel)
    {
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                    <div class="card-img-top zoom">
                        <img src="@product.ImageUrl" alt="@product.Name">
                    </div>
                </a>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0">
                    <div class="pb-1 text-center">
                        <img src="~/images/Rating/stars-5.png" width="90">
                        <a class="h6 font-italic text-info" asp-action="">1 ревю</a>
                    </div>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id"><h6 class="card-title font-weight-bold">@product.Name</h6></a>
                </div>
                <div class="mb-1">
                    <ul class="list-group list-group-flush mb-0">
                        @if (User.IsInRole("Partner"))
                        {
                            <li class="list-group-item text-center font-weight-bold text-danger">@product.ParnersPrice лв.</li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li class="list-group-item text-center font-weight-bold text-danger h5 ">@product.Price лв.</li>
                            <li class="list-group-item text-center font-weight-bold text-danger h5">@product.ParnersPrice лв.</li>
                        }
                        else
                        {
                            <li class="list-group-item text-center bg-danger">
                                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link text-white pb-0 pt-0"><i class="fas fa-sign-in-alt"></i> Вход</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">
                    <button type="button" class="btn btn-danger btn-md"><i class="fas fa-heart"></i></button>
                    <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id" class="btn btn-primary btn-md"><i class="fas fa-shopping-cart"></i> Добави</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="mt-3 d-flex justify-content-around">
    @Html.PagedListPager((IPagedList)(IPagedList)Model.ProductsViewModel, page => Url.Action("Index",
                                            new { page = page }),
                                            new PagedListRenderOptions
                                            {
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                            })
</div>
