@model List<ShoppingCartProductsViewModel>

<div class="container mobile-fondsize-11 bg-white">
    <table class="table table-sm table-hover mb-0">
        <thead>
            <tr class="row">
                <th scope="col" class="col-2 d-flex justify-content-center">Продукт</th>
                <th scope="col" class="col-4 d-flex justify-content-center"></th>
                <th scope="col" class="col-2 d-flex justify-content-center">Ед. цена</th>
                <th scope="col" class="col-2 d-flex justify-content-center">Брой</th>
                <th scope="col" class="col-2 d-flex justify-content-center">Общо</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="row">
                    <td class="col-2 d-flex justify-content-center">
                        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" width="50" height="50">
                        </a>
                    </td>
                    <td class="col-4 d-flex justify-content-center">
                        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            @product.Name
                        </a>
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @product.Price лв.
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @product.Quantity
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @product.TotalPrice лв.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-right">
        <p class="font-weight-bold text-danger h5 text-right">Обща сума за продуктите: @(Model.Sum(x => x.Price * x.Quantity)) лв.</p>
    </div>
</div>