@using Microsoft.AspNetCore.Identity

@inject SignInManager<XeonUser> SignInManager
@inject UserManager<XeonUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XeonComputers</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light xeon-color">
            @*<img alt="Brand" src="~/images/small_xeon_logo.jpg">*@
            @*<a class="navbar-brand" href="#">XeonComputers</a>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i> Начало<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Магазин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сервиз</a>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>*@
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Търсене</button>
                    </form>*@

                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link"><i class="fas fa-user-circle"></i> Здравей, @UserManager.GetUserName(User)!</a>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link eventures-color-black"><i class="fas fa-sign-out-alt"></i> Изход</button>
                            </li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-area="Identity" asp-page="/Account/Register" class="nav-link"><i class="fas fa-sign-in-alt"></i> Регистрация</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login" class="nav-link"><i class="fas fa-user"></i> Вход</a></li>
                    </ul>
                }
            </div>
        </nav>
        <hr class="my-1 hr-xeon" />

        <div class="row mt-3">
            <div class="col-md-3 text-center">
                <a class="" href="#"><img alt="Brand" src="~/images/small_xeon_logo.jpg"></a>
            </div>
            <div class="col-md-6">
                <div class="container my-2 my-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="button"><i class="fas fa-search"></i> Търсене</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-black" />

        <partial name="_CookieConsentPartial" />

        <div class="body-content">
            @RenderBody()
            <hr class="my-1 hr-xeon mt-3" />
            @*<footer>
                <div class="container">
                    <div class="row xeon-color">
                        <div class="col-md-3">
                            <h2>Application uses</h2>
                            <ul>
                                <li>Sample pages using ASP.NET Core MVC</li>
                                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2>How to</h2>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2>Overview</h2>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2>Run &amp; Deploy</h2>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-copyright text-center py-3">&copy; CopyRight XeonComputers 2018. All rights reserved.</div>
                </div>
            </footer>*@
            <footer class="xeon-color pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Footer Content</h5>
                        <p>Here you can use rows and columns here to organize your footer content.</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <hr class="my-1" style="background:white" />
            <div class="footer-copyright text-center py-2">&copy; CopyRight XeonComputers 2018. All rights reserved.</div>
        </footer>
        </div>
        <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="~/js/popper.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>