@using XeonComputers.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Identity

@inject SignInManager<XeonUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <ul>
        <li class="@ManageNavPages.IndexNavClass(ViewContext) dropdown-item">
            <a asp-page="./Index" class="nav-link">Профил</a>
        </li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) dropdown-item">
            <a id="change-password" asp-page="./ChangePassword" class="nav-link">Смяна на парола</a>
        </li>
        @if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) dropdown-item">
                <a id="external-login" asp-page="./ExternalLogins" class="nav-link">Външен вход</a>
            </li>
        }
        <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) dropdown-item">
            <a asp-page="./TwoFactorAuthentication" class="nav-link">Двуфакторна идентификация</a>
        </li>
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) dropdown-item">
            <a asp-page="./PersonalData" class="nav-link">Лични данни</a>
        </li>
    </ul>
</div>